{% extends 'base.html' %}

{%  block page_content %}
<div class="col-md-8 col-md-offset-2">
  <div class="jumbotron text-center" style = "background-color:#e3f2fd">
  {% if available_stores == 0 %}
  <div class="text-center">
    <h1><i class=" fa fa-info-circle fa-5 fa-3dicon" style = "color:#B13138"></i></h1>
    <p class="lead text-success">OOps, you don't have a store.</p>
    <a href="{{ url_for('store.store') }}" class="btn btn-success">Create a Store</a>
  </div>
{% else %}
  <div class="panel-heading">
    <p class="lead text-success">You have {{ available_stores }} Stores </p>
  </div>
  {% endif %}
{% for store in stores_ %}
<ul class="list-group">
<p>  <a href="{{ url_for('product.index')}}" class="list-group-item-text">
{{store.name}}
</a></p>
    <p >
    {{ store.description }}
    </p>

</ul>
</div>
</div>

{% endfor %}
{% endblock %}
